@model List<Skill>

@{
    ViewData["Title"] = "SkillList";
    Layout = "~/Views/Layout/Index.cshtml";
}


<div class="content">
	<div class="container-fluid">
		<h4 class="page-title">Tables</h4>
		<div class="row">
			<div class="col-md-12">
				<div class="card">
					<div class="card-header">
						<div class="card-title">Bacarıqlar</div>
					</div>
					<div class="card-body">
						<div class="card-sub">
							This is the basic table view of the ready dashboard :
						</div>
						<table class="table mt-3">
							<thead>
								<tr>
									<th scope="col">#</th>
									<th scope="col">Başlıq</th>
									<th scope="col">Dəyər</th>
									<th scope="col">Sil</th>
									<th scope="col">yenilə</th>
								</tr>
							</thead>
							<tbody>
								
								@foreach (var item in Model)
								{
									
									<tr> 
										<td>@item.SkillId</td>
										<td>@item.Title</td>
										<td>@item.Value</td>
										<td><a href="/Skill/DeleteSkill/@item.SkillId" class="btn btn-danger">Sil</a></td>
										<td><a href="/Skill/UpdateSkill/@item.SkillId" class="btn btn-success">Yenile</a></td>

									</tr>
								}


							</tbody>
						</table>
						<a href="/Skill/CreateSkill/ " class=" btn btn-primary">elave et</a>
					</div>
				</div>


			</div>

		</div>
	</div>
</div>

