@model List<MyPortfolio.DAL.Entites.Portfolio>

<section id="works" class="s-works target-section">

    @foreach (var item in Model)
    {

        <div class="row narrow section-intro has-bottom-sep">
            <div class="col-full">
                <h3>Portfolio</h3>
                <h1>@item.Title</h1>

                <p class="lead">@item.SubTitle</p>
            </div>
        </div>

        <div class="row masonry-wrap">
            <div class="masonry">

                <div class="masonry__brick">
                    <div class="item-folio">

                        <div class="item-folio__thumb">
                            <a href="https://i.hizliresim.com/guf5w6l.jpg" class="thumb-link" title="The Beetle Car" data-size="1050x700">
                                <img src="https://i.hizliresim.com/guf5w6l.jpg"
                                     srcset="https://i.hizliresim.com/guf5w6l.jpg 1x, https://i.hizliresim.com/guf5w6l.jpg 2x" alt="">
                                <span class="shadow-overlay"></span>
                            </a>
                        </div>

                        <div class="item-folio__text">
                            <h3 class="item-folio__title">
                                The Beetle
                            </h3>
                            <p class="item-folio__cat">
                                Web Development
                            </p>
                        </div>

                        <a href="https://www.behance.net/" class="item-folio__project-link" title="Project link">
                            <i class="im im-link"></i>
                        </a>

                        <div class="item-folio__caption">
                            <p>Vero molestiae sed aut natus excepturi. Et tempora numquam. Temporibus iusto quo.Unde dolorem corrupti neque nisi.</p>
                        </div>

                    </div> <!-- end item-folio -->
                </div> <!-- end masonry__brick -->

                <div class="masonry__brick">
                    <div class="item-folio">

                        <div class="item-folio__thumb">
                            <a href="https://i.hizliresim.com/9sojkyf.jpg" class="thumb-link" title="Lighthouse" data-size="1050x700">
                                <img src="https://i.hizliresim.com/9sojkyf.jpg"
                                     srcset="https://i.hizliresim.com/9sojkyf.jpg 1x, https://i.hizliresim.com/9sojkyf.jpg 2x" alt="">
                                <span class="shadow-overlay"></span>
                            </a>
                        </div>

                        <div class="item-folio__text">
                            <h3 class="item-folio__title">
                                Lighthouse
                            </h3>
                            <p class="item-folio__cat">
                                Web Design
                            </p>
                        </div>

                        <a href="https://www.behance.net/" class="item-folio__project-link" title="Project link">
                            <i class="im im-link"></i>
                        </a>

                        <div class="item-folio__caption">
                            <p>Vero molestiae sed aut natus excepturi. Et tempora numquam. Temporibus iusto quo.Unde dolorem corrupti neque nisi.</p>
                        </div>

                    </div> <!-- end item-folio -->
                </div> <!-- end masonry__brick -->

                <div class="masonry__brick">
                    <div class="item-folio">

                        <div class="item-folio__thumb">
                            <a href="https://i.hizliresim.com/bv27ep9.jpg" class="thumb-link" data-size="1050x700">
                                <img src="https://i.hizliresim.com/bv27ep9.jpg"
                                     srcset="https://i.hizliresim.com/bv27ep9.jpg 1x, https://i.hizliresim.com/bv27ep9.jpg 2x" alt="">
                                <span class="shadow-overlay"></span>
                            </a>
                        </div>

                        <div class="item-folio__text">
                            <h3 class="item-folio__title">
                                Salad
                            </h3>
                            <p class="item-folio__cat">
                                Branding
                            </p>
                        </div>

                        <a href="https://www.behance.net/" class="item-folio__project-link" title="Project link">
                            <i class="im im-link"></i>
                        </a>

                        <span class="item-folio__caption">
                            <p>Vero molestiae sed aut natus excepturi. Et tempora numquam. Temporibus iusto quo.Unde dolorem corrupti neque nisi.</p>
                        </span>

                    </div> <!-- end item-folio -->
                </div> <!-- end masonry__brick -->

                <div class="masonry__brick">
                    <div class="item-folio">

                        <div class="item-folio__thumb">
                            <a href="https://i.hizliresim.com/cryckle.jpg" class="thumb-link" data-size="1050x700">
                                <img src="https://i.hizliresim.com/cryckle.jpg"
                                     srcset="https://i.hizliresim.com/cryckle.jpg 1x, https://i.hizliresim.com/cryckle.jpg 2x" alt="">
                                <span class="shadow-overlay"></span>
                            </a>
                        </div>

                        <div class="item-folio__text">
                            <h3 class="item-folio__title">
                                Woodcraft
                            </h3>
                            <p class="item-folio__cat">
                                Branding
                            </p>
                        </div>

                        <a href="https://www.behance.net/" class="item-folio__project-link" title="Project link">
                            <i class="im im-link"></i>
                        </a>

                        <span class="item-folio__caption">
                            <p>Vero molestiae sed aut natus excepturi. Et tempora numquam. Temporibus iusto quo.Unde dolorem corrupti neque nisi.</p>
                        </span>

                    </div> <!-- end item-folio -->
                </div> <!-- end masonry__brick -->

                <div class="masonry__brick">
                    <div class="item-folio">

                        <div class="item-folio__thumb">
                            <a href="https://i.hizliresim.com/cpf1mce.jpg" class="thumb-link" data-size="1050x700">
                                <img src="https://i.hizliresim.com/cpf1mce.jpg"
                                     srcset="https://i.hizliresim.com/cpf1mce.jpg 1x, https://i.hizliresim.com/cpf1mce.jpg 2x" alt="">
                                <span class="shadow-overlay"></span>
                            </a>
                        </div>

                        <div class="item-folio__text">
                            <h3 class="item-folio__title">
                                Skaterboy
                            </h3>
                            <p class="item-folio__cat">
                                Web Development
                            </p>
                        </div>

                        <a href="https://www.behance.net/" class="item-folio__project-link" title="Project link">
                            <i class="im im-link"></i>
                        </a>

                        <span class="item-folio__caption">
                            <p>Vero molestiae sed aut natus excepturi. Et tempora numquam. Temporibus iusto quo.Unde dolorem corrupti neque nisi.</p>
                        </span>

                    </div> <!-- end item-folio -->
                </div> <!-- end masonry__brick -->

                <div class="masonry__brick">
                    <div class="item-folio">

                        <div class="item-folio__thumb">
                            <a href="https://i.hizliresim.com/5y3iaqt.jpg" class="thumb-link" data-size="1050x700">
                                <img src="https://i.hizliresim.com/5y3iaqt.jpg"
                                     srcset="https://i.hizliresim.com/5y3iaqt.jpg 1x, https://i.hizliresim.com/5y3iaqt.jpg 2x" alt="">
                                <span class="shadow-overlay"></span>
                            </a>
                        </div>

                        <div class="item-folio__text">
                            <h3 class="item-folio__title">
                                Liberty
                            </h3>
                            <p class="item-folio__cat">
                                Branding
                            </p>
                        </div>

                        <a href="https://www.behance.net/" class="item-folio__project-link" title="Project link">
                            <i class="im im-link"></i>
                        </a>

                        <span class="item-folio__caption">
                            <p>Vero molestiae sed aut natus excepturi. Et tempora numquam. Temporibus iusto quo.Unde dolorem corrupti neque nisi.</p>
                        </span>

                    </div> <!-- end item-folio -->
                </div> <!-- end masonry__brick -->

                <div class="masonry__brick">
                    <div class="item-folio">

                        <div class="item-folio__thumb">
                            <a href="https://i.hizliresim.com/ilsfu7t.jpg" class="thumb-link" data-size="1050x700">
                                <img src="https://i.hizliresim.com/ilsfu7t.jpg"
                                     srcset="https://i.hizliresim.com/ilsfu7t.jpg 1x, https://i.hizliresim.com/ilsfu7t.jpg 2x" alt="">
                                <span class="shadow-overlay"></span>
                            </a>
                        </div>

                        <div class="item-folio__text">
                            <h3 class="item-folio__title">
                                Minimalismo
                            </h3>
                            <p class="item-folio__cat">
                                Web Design
                            </p>
                        </div>

                        <a href="https://www.behance.net/" class="item-folio__project-link" title="Project link">
                            <i class="im im-link"></i>
                        </a>

                        <span class="item-folio__caption">
                            <p>Vero molestiae sed aut natus excepturi. Et tempora numquam. Temporibus iusto quo.Unde dolorem corrupti neque nisi.</p>
                        </span>

                    </div> <!-- end item-folio -->
                </div> <!-- end masonry__brick -->

                <div class="masonry__brick">
                    <div class="item-folio">

                        <div class="item-folio__thumb">
                            <a href="https://i.hizliresim.com/bluvj8n.jpg" class="thumb-link" data-size="1050x700">
                                <img src="https://i.hizliresim.com/bluvj8n.jpg"
                                     srcset="https://i.hizliresim.com/bluvj8n.jpg 1x, https://i.hizliresim.com/bluvj8n.jpg 2x" alt="">
                                <span class="shadow-overlay"></span>
                            </a>
                        </div>

                        <div class="item-folio__text">
                            <h3 class="item-folio__title">
                                Lady Shutterbug
                            </h3>
                            <p class="item-folio__cat">
                                Branding
                            </p>
                        </div>

                        <a href="https://www.behance.net/" class="item-folio__project-link" title="Project link">
                            <i class="im im-link"></i>
                        </a>

                        <span class="item-folio__caption">
                            <p>Vero molestiae sed aut natus excepturi. Et tempora numquam. Temporibus iusto quo.Unde dolorem corrupti neque nisi.</p>
                        </span>

                    </div> <!-- end item-folio -->
                </div> <!-- end masonry__brick -->

            </div>
        </div> <!-- end masonry -->
    }
    


</section> 