<header class="s-header">

    <div class="header-logo">
        <h2 style="color:aliceblue">MyPortfolio</h2>
    </div>

    <nav class="header-nav-wrap">
        <ul class="header-nav">
            <li class="current"><a class="smoothscroll" href="#home" title="home">Ana Səhifə</a></li>
            <li><a class="smoothscroll" href="#about" title="about">Haqqımda</a></li>
            <li><a class="smoothscroll" href="#works" title="works">Portfolio</a></li>
            <li><a class="smoothscroll" href="#contact" title="contact">Əlaqə</a></li>
            <li><a href="/Feature/FeatureList">Admin Panel</li>
        </ul>
    </nav>

    <a class="header-menu-toggle" href="#0"><span>Menu</span></a>

</header>