
<div class="sidebar">
	<div class="scrollbar-inner sidebar-wrapper">
		<div class="user">
			<div class="photo">
				<img src="~/Ready-Bootstrap-Dashboard-master/assets/img/profile.jpg">
			</div>
			<div class="info">
				<a class="" data-toggle="collapse" href="#collapseExample" aria-expanded="true">
					<span>
						Əfraim Məmmədov
						<span class="user-level">Admin</span>
						<span class="caret"></span>
					</span>
				</a>
				<div class="clearfix"></div>

				<div class="collapse in" id="collapseExample" aria-expanded="true" style="">
					<ul class="nav">
						<li>
							<a href="#profile">
								<span class="link-collapse">Mənim profilim</span>
							</a>
						</li>
						<li>
							<a href="#edit">
								<span class="link-collapse">Profili düzənlə</span>
							</a>
						</li>
						<li>
							<a href="#settings">
								<span class="link-collapse">Parametrlər</span>
							</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<ul class="nav">

			<li class="nav-item">
				<a href="/Feature/FeatureList">
					<i class="la la-th"></i>
					<p>Ana Səhifə</p>

				</a>
			</li>

			<li class="nav-item">
				<a href="/About/AboutList">
					<i class="la la-table"></i>
					<p>Haqqımda</p>
					
				</a>
			</li>
			<li class="nav-item">
				<a href="/Experience/ExperienceList">
					<i class="la la-keyboard-o"></i>
					<p>Təcrübə</p>
				</a>
			</li>
			
	
			<li class="nav-item">
				<a href="/Skill/SkillList">
					<i class="la la-pie-chart"></i>
					<p>Bacarıqlar</p>
				</a>
		     </li>

			<li class="nav-item">
				<a href="/Statistic/Index">
					<i class="la la-bar-chart"></i>
					<p>Testimonial</p>
				</a>
			</li>

			
			
		</ul>
	</div>
</div>