@model List<Feature>

@{
    ViewData["Title"] = "FeatureList";
    Layout = "~/Views/Layout/Index.cshtml";
}

<div class="content">
	<div class="container-fluid">
		<h4 class="page-title">Tables</h4>
		<div class="row">
			<div class="col-md-12">
				<div class="card">
					<div class="card-header">
						<div class="card-title">Basic Table</div>
					</div>
					<div class="card-body">
						<div class="card-sub">
							This is the basic table view of the ready dashboard :
						</div>
						<table class="table mt-3">
							<thead>
								<tr>
									<th scope="col">#</th>
									<th scope="col">Başlıq</th>
									<th scope="col">Açıqlama</th>
									<th scope="col">yenilə</th>
								</tr>
							</thead>
							<tbody>
								@foreach (var item in Model)
								{
									<tr>
										<td>@item.FeatureId</td>			
										<td>@item.Title</td>
										<td>@item.Description</td>									
										<td><a href="/Feature/UpdateFeature/@item.FeatureId" class="btn btn-success">Yenile</a></td>

									</tr>
								}


							</tbody>
						</table>
					</div>
				</div>


			</div>

		</div>
	</div>
</div>


